body {
  background-color: #000;
  width: auto;
  height: 100%;
}

#ZeroRelayChat {
  padding-left: 1em;
  padding-top: 1em;
  height: 100%;
}

#UserInput {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  right: 0.5em;
}
