#SettingsButton {
  color: rgba(50, 50, 50, 0.3);
  text-align: left;
  margin: 0.3em 0.3em 0.3em 0.3em;
  transition: color 0.1s ease;
}

#SettingsButton:hover {
  color: black;
  transition: color 0.1s ease;
}

#Topic {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 300;
}

#Description {
  margin-bottom: 0;
  margin-left: 10px;
  white-space: normal;
  max-width: 50%;
  max-height: 77px;
  overflow: hidden;
}

#Header {
  position: fixed;
  border-bottom: 1px lightgrey solid;
  white-space: nowrap;
  width: 100%;
  display: flex;
  align-items: center
}
